/* XXX: These styles are verbatim copied from gvozdenovic.io and are slightly
 * appropriated for use with texinfo. They should be cleaned up at some point.*/

@media(prefers-color-scheme: dark) {
	:root {
		--code-background: rgba(94, 138, 181, .03);
		--syntax-element:  #3788c9;
	}
}
