/* XXX: These styles are verbatim copied from gvozdenovic.io and are slightly
 * appropriated for use with texinfo. They should be cleaned up at some point.*/

:root {
    --code-background: rgba(44, 63, 80, .01);
    --code-font:       Menlo, Monaco, Consolas, "Courier New", monospace;
    --code-font-size:  13px;
    --syntax-keyword:  #009695;
    --syntax-element:  #3465a4;
    --syntax-string:   #db7100;
    --syntax-comment:  #888a85;
}

.syntax-symbol {
    color: var(--syntax-symbol);
}

.syntax-special, .syntax-element {
    color: var(--syntax-element);
}

.syntax-string {
    color: var(--syntax-string);
}

.syntax-keyword, .syntax-attribute {
    color: var(--syntax-keyword);
}

.syntax-comment {
    color: var(--syntax-comment);
}

code, pre, samp {
    font-family: var(--code-font);
    font-size: var(--code-font-size);
}

code {
    font-size: 90%;
    color: var(--syntax-keyword);
}

pre.verbatim, pre.example, pre.smallexample, pre.code {
    display: block;
    padding: 9.5px;
    margin: 0.75em 0 var(--space-width) 0;
    line-height: 1.42857143;
    color: var(--text-color);
    word-break: break-all;
    word-wrap: break-word;
    background-color: var(--code-background);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    page-break-inside: avoid;
}

pre code {
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
}
