/* XXX: These styles are verbatim copied from gvozdenovic.io and are slightly
 * appropriated for use with texinfo. They should be cleaned up at some point.*/

/* --------------------- FIXME: Undo makeinfo's styles ---------------------- */

div.example { margin: unset; }

/* ---------------------------- Default config ------------------------------ */

:root {
	--color-primary:       #2c3e50;
	--color-accent:        #3192b3;
	--color-visited:       #a19fa0;
	--base-color:          #f3f7fa;
	--base-overlay-color:  rgba(44, 63, 80, .05);
	--navbar-border-color: rgba(4, 22, 40, .25);   /* #223446 */
	--navbar-shadow-color: rgba(0, 0, 0, .05);
	--border-color:        rgba(0, 0, 0, .15);
	--shadow-color:        rgba(0, 0, 0, .2);
	--heading-color:       #2c3e50;                /* --color primary */
	--link-color:          #186ac1;
	--footer-link-color:   #5faee3;
	--text-color:          rgba(44, 63, 80, .8);
	--color-user-image-bg: rgba(44, 63, 80, .5);
	--space-width:         1em;
	--line-height:         26px;
	--ui-font:             sans-serif;
	--font-size:           16px;
	--header-bg-image:     linear-gradient(-180deg, #44586a, #2c3e50)
}

/*
--screen-size-sm: 576px;
--screen-size-md: 768px;
--screen-size-lg: 992px;
--screen-size-xl: 1200px;
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	background: var(--base-color);
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: var(--text-color);
	font-family: var(--ui-font);
	font-size: var(--font-size);
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
	-webkit-text-stroke: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover { text-decoration: underline; }

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container { width: 725px; }
}

@media (min-width: 992px) {
	.container { width: 950px; }
}

@media (min-width: 1200px) {
	.container { width: 1170px; }
}

/* --------------------------------- Navbar --------------------------------- */

nav.navbar {
	height: 53px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	user-select: none;
	background: linear-gradient(var(--navbar-shadow-color), transparent);
}

/** This class should be toggled through javascript and provide sticky
 * functionality if javascript is enabled. Otherwise, the navbar should use the
 * absolute mode. */
nav.navbar.sticky { position: fixed; }

nav.navbar.color {
	background: var(--color-primary);
	border-bottom: 3px solid var(--navbar-border-color);
}

nav.navbar.color a {
	color: var(--base-color);
}

nav.navbar .title {
	font-weight: bold;
	padding: 0;
}

nav.navbar a {
	display: inline-block;
	vertical-align: middle;
	height: 53px;
	line-height: 53px;
	text-decoration: none;
	padding-left: .5em;
	padding-right: .5em;
	outline: 0;
	border-bottom: 3px solid transparent;
	user-select: none;
	text-shadow: 0 3px 6px var(--shadow-color);
}

nav.navbar a {
	color: var(--base-color);
}

@media(max-width: 767px) {
	nav.navbar a:not(.title) {
		color: var(--text-color);
	}
}

@media(min-width: 768px) {
	nav.navbar a.active {
		background-color: var(--border-color);
	}
}

nav.navbar .links { float: right; }

#menu-checkbox { display: none; }

#menu-button:hover,
#menu-checkbox:checked + #menu-button {
	background-color:  var(--navbar-border-color);
}

#menu-button {
	float: right;
	height: 50px;
	width: 50px;
	line-height: 53px;
	color: var(--base-color);
	font-size: 1.5em;
	background: transparent;
	border: 0;
	padding: 0;
	outline: 0;
	text-align: center;
	text-shadow: 0 3px 6px var(--shadow-color);
}

@media(max-width: 767px) {
	#menu-checkbox:checked + #menu-button + .links {
		display: block;
	}

	nav.navbar .links {
		display: none;
		position: absolute;
		top: 53px;
		left: .5em;
		right: .5em;
		border: 1px solid var(--border-color);
		border-radius: 3px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
		background: var(--base-color);
	}

	nav.navbar .links a:hover {
		background-color: var(--base-overlay-color);
	}

	nav.navbar .links > a {
		display: block;
		text-shadow: unset;
		padding-left: 1em;
	}
}

@media(min-width: 768px) {
	nav.navbar .links a:hover {
		border-bottom: 3px solid var(--color-accent);
	}

	#menu-button { display: none; }
}

/* ------------------------------ Page elements ----------------------------- */

.page-top-margin { height: 53px; }

#header {
	min-height: 100%;
	background-image: var(--header-bg-image);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--base-color);
	box-shadow: 0 10px 30px var(--border-color);
}

@media (min-width: 768px) {
	#header { min-height: 400px; }
}

#header.home {
	background-image: url('/images/lake.jpg'), var(--header-bg-image);
	background-position-y: 90%;
	text-align: left;
}

#user-image {
	display: block;
	margin: auto;
	width: 185px;
	height: 185px;
	border-radius: 50%;
	border: 2px solid var(--navbar-border-color);
	background-color: var(--color-user-image-bg);
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
	margin-top: 1.25rem;
	margin-bottom: 0.75rem;
	font-weight: 400;
	color: var(--heading-color);
}

.content h1 { font-size: 2em; }    .content h2 { font-size: 1.5em; }
.content h3 { font-size: 1.17em; } .content h4 { font-size: 1em; }
.content h5 { font-size: 0.83em; } .content h6 { font-size: 0.67em; }

.content.container {
	flex: 1;
	padding-top: .5em;
	padding-bottom: 2em;
	line-height: var(--line-height);
}

.content.container > p {
	text-align: justify;
	margin-top: 0.75em;
}

.content.container > blockquote {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	color: var(--text-color);
	font-style: italic;
	margin: calc(var(--space-width) * 1.5) 0;
	padding: calc(var(--space-width) * 1.5);
	text-align: center;
}

.content.container > ul,
.content.container > ol {
	margin-top: var(--space-width);
	margin-bottom: var(--space-width);
	line-height: 1.5em;
}

.content.container ul,
.content.container ol {
	padding-left: calc(1em + var(--space-width));
}

.content.container > p > img,
.content.container > p > object,
.content.container > p > img + *,
.content.container > p > object + * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content.container > p > img + em,
.content.container > p > object + em {
	text-align: center;
	margin-top: var(--space-width);
	margin-bottom: var(--space-width);
	font-style: normal;
}

.content.container hr {
	margin: 1em 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: var(--border-color);
}

.content.container dl > dd {
    margin-inline-start: 2.5em;
}

#footer {
	background: var(--color-primary);
	color: var(--base-color);
	padding: 1.5em 0;
	line-height: 1.5em;
	text-align: center;
}

#footer a {
	color: var(--footer-link-color);
}

#footer .contact-buttons {
	min-height: var(--line-height); /* Needed to fix FOUC */
	font-size: 1.5em;
	margin-top: .5em;
	text-align: center;
}

#footer .contact-buttons > a {
	color: var(--base-color);
	padding: 0 5px;
}

@media (min-width: 768px) {
	#footer {
		text-align: unset;
	}

	#footer > div {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
	}

	#footer .credit {
		grid-column-start: 2;
	}

	#footer .contact-buttons {
		margin-top: unset;
		text-align: right;
	}
}
