/* XXX: These styles are verbatim copied from gvozdenovic.io and are slightly
 * appropriated for use with texinfo. They should be cleaned up at some point.*/

@media print {
    :root {
        --base-color:          unset;
        --color-accent:        unset;
        --text-color:          unset;
        --heading-color:       unset;
        --font-size:           12pt;
        --line-height:         1.5em;
    }

    @page {
        size: A4;
        margin: 15mm;
    }

    nav.navbar { display: none; }

    .content.container {
        width: 100%;
        margin: 0;
        padding: 0;
        counter-reset: num-ref;
    }

    .content h1, .content h2, .content h3,
    .content h4, .content h5, .content h6 {
        font-weight: 600;
    }

    #footer { display: none; }
}
